<mat-toolbar color="primary">
    <mat-toolbar-row >
        <button mat-button (click)="onNavigationClick()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-button>
            <div class="header">
                <div>
                    <mat-icon>smart_toy</mat-icon>
                </div>
                <div class="header-info">
                    <div class="header-title">
                        <span>Operator</span>
                    </div>
                    <div class="header-sub-title">
                        <span class="icon-title">Bot</span>
                    </div>
                </div>
            </div>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="msg-container">
    <ng-container *ngFor="let msg of msgs">
        <div class="bot-msg-response" *ngIf="msg?.botQuery">
            <mat-card class="response-card">
                <button mat-button><mat-icon>person</mat-icon></button>
                <div class="text-container">
                   {{msg.botQuery}}
                </div>
            </mat-card>
        </div>
    
        <div class="query" *ngIf="msg?.query">
            <button mat-button>{{msg.query}}</button></div>
        
    </ng-container>
    <div class="user-msg-selection" *ngIf="msgs.length === 0; else singleQuery">
        <button mat-button (click)="onMsgQuery()">Just browsing!</button>
        <button mat-button (click)="onMsgQuery()">I’d like to learn more about Intercom</button>
        <button mat-button (click)="onMsgQuery()">I'm an Intercom customer with a question.</button>
    </div>
    <ng-template #singleQuery>
        <div class="user-msg-selection"><button mat-button (click)="onMsgQuery()">Just browsing!</button></div>
    </ng-template>
</div>